<br>
<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 27.05.2020</b></i></span>
<br>


<div class="alert alert-success alert-success-custom">
    <strong>
        Осуществлена доработка программного средства с учетом полученных замечаний и предложений от ОПЧС.<br>
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red"></i> Просьба очистить кэш браузера.
        <br>        <br>
        <i>Справочно: <u><a href="http://172.26.200.14/journal/assets/doc/reset%20history.doc">скачать правила очистки кэша браузера</a></u>.</i>
        <br><br>



    </strong>
</div>

<style>
    .main-content{
        margin-right: 300px;
        margin-left: 300px;
    }
</style>


