<br>


<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 14.07.2020</b></i></span>
<br>

<div class="alert alert-success alert-warning-success">
    <strong>

        По предложениям Брестского областного УМЧС реализована возможность загрузки сразу нескольких фото/видео/аудио(сейчас каждое фото загружается по отдельности).<br>
        Чтобы воспользоваться данным функционалом необходимо включить соответствующую настройку в разделе «Настройки»:
        <br>
        <img src="assets/news/img/14.07.2020/1.png" width="1250px">
        <br><br>
        Пример загрузки нескольких фото:
         <br>
        <img src="assets/news/img/14.07.2020/2.png" width="1250px">

    </strong>
</div>

<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 10.07.2020</b></i></span>
<br>

<div class="alert alert-success alert-warning-success">
    <strong>

        По предложениям Брестского областного УМЧС реализован вывод адреса в таблицу со специальными донесениями:
        <br>
        <img src="assets/news/img/10.07.2020/1.png" width="1250px">

    </strong>
</div>


<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 09.07.2020</b></i></span>
<br>

<div class="alert alert-success alert-warning-success">
    <strong>

        По предложениям Брестского областного УМЧС реализована функция по установке отметки о том, что после внесения замечаний УМЧС(РЦУРЧС)
        было выполнено редактирование специального донесения:
        <br>
        <img src="assets/news/img/09.07.2020/3.png" width="1250px">

    </strong>
</div>
<br>
<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 02.07.2020</b></i></span>
<br>

<div class="alert alert-warning alert-warning-custom">
    <strong>

        Некоторые файлы формата wav (в зависимости от битрейта и аудиокодека) могут не воспроизводиться в браузере.<br>
        Для того, чтобы прослушать такой файл - необходимо его скачать и прослушать на компьютере.<br><br>

        Некоторые видеофайлы (в зависимости от кодеков) также могут не воспроизводиться в браузере.<br>
        Чтобы их просмотреть - скачайте и просмотрите на компьютере.


    </strong>
</div>

<div class="alert alert-success alert-success-custom">
    <strong>

       По предложениям Брестского ОУМЧС реализована возможность прикрепления аудио в формате wav к специальному донесению.<br>
       Пример:<br>
        <audio controls class="issue-audio-catalog">
                        <source src='http://172.26.200.14/speciald/assets/news/img/02.07.2020/example.wav' >
                    </audio>


    </strong>
</div>

<div class="alert alert-success alert-success-custom">
    <strong>

       По предложениям Брестского ОУМЧС реализована возможность прикрепления двух видеофайлов (не более 40 Мб) к специальному донесению.


    </strong>
</div>

<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 01.07.2020</b></i></span>
<br>

<div class="alert alert-success alert-success-custom">
    <strong>

       По предложениям Брестского ОУМЧС реализована возможность прикрепления файла в формате pdf к специальному донесению.<br>

    </strong>
</div>


<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 29.06.2020</b></i></span>
<br>


<div class="alert alert-warning">
    <strong>
        Устранена ошибка по загрузке медиаматериалов для простого СД.<br>
    </strong>
</div>

<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 29.06.2020</b></i></span>
<br>


<div class="alert alert-success">
    <strong>
        Реализована возможность фильтрации специальных донесений за период: сутки, месяц, год.<br>
        <img src="assets/news/img/29.06.2020/1.png" width="1250px">
    </strong>
</div>

<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 25.06.2020</b></i></span>
<br>


<div class="alert alert-primary">
    <strong>
        Реализованы целесообразные предложения Брестского ОУМЧС, полученные в рабочем порядке.<br>
        Размещаем <span style="color:red">сводку отзывов</span> Брестского ОУМЧС (<u><a href="http://172.26.200.14/speciald/assets/news/brest.doc">скачать</a></u>).<br>
    </strong>
</div>

<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 24.06.2020</b></i></span>
<br>

<div class="alert alert-success alert-success-custom">
    <strong>

         1. В блоке «Данные по собственнику» в случае необходимости заполнения информации по нескольким собственникам добавлено дополнительное поле:<br>
         <img src="assets/news/img/24.06.2020/1.png" width="1250px">
          <br><br>
          2. В блоке «Специальная служебная информация» поля «Создатель», «Должность», «Получатель» закрыты для редактирования.<br>

        Чтобы открыть эти поля для редактирования необходимо установить соответствующую настройку в разделе «Настройки»:<br>

        <img src="assets/news/img/24.06.2020/2.png" width="1250px">

    </strong>
</div>

<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 24.06.2020</b></i></span>
<br>

<div class="alert alert-success alert-success-custom">
    <strong>

         Реализована возможность установки координат, используя карту:<br>
         <img src="assets/news/img/23.06.2020/1.png" width="1250px">
          <br><br>
        Чтобы воспользоваться этой функцией необходимо установить соответствующую настройку в разделе «Настройки»:<br>

        <img src="assets/news/img/23.06.2020/2.png" width="1250px">

    </strong>
</div>

<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 22.06.2020</b></i></span>
<br>

<div class="alert alert-success alert-success-custom">
    <strong>
        1. Убраны позиции «Время работы звеньев ГДЗС до обнаружения пострадавших» и «Время создания штаба тушения пожара» (пункт 5.23 Сводки отзывов).
        <br>
        2. В разделе «Финальный текст» убраны позиции «Тип водоисточника», «Расстояние до водоисточника» и
        «Использование на пожаре» (т.к. эта информация дублируется в позиции «Содержание поступившей информации (детализированная информация)»).
        Вместо этого добавлен переключатель «использовался водоисточник»(пункт 5.26 Сводки отзывов).
        <br>
        3. В разделе «Объект» в случае выбора вида объекта «Многоквартирный жилой дом» доступны для заполнения поля: «Этаж квартиры» и «Количество комнат»:<br>
         <img src="assets/news/img/22.06.2020/1.png" width="1250px">
         <br><br>
         4. В простое специальное донесение в поле «Текст специального донесения» добавлена возможность добавления шаблона (пункт 1.35 Сводки отзывов):<br>
         <img src="assets/news/img/22.06.2020/2.png" width="1250px">

    </strong>
</div>

<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 17.06.2020</b></i></span>
<br>

<div class="alert alert-success alert-success-custom">
    <strong>
        1. В разделе «Информирование должностных лиц» реализована возможность выбора по умолчанию нескольких адресатов: начальник гарнизона, ответственный по гарнизону, инспектор ИНиП (пункт 7.5 Сводки отзывов):

        <img src="assets/news/img/17.06.2020/1.png" width="1250px">
        <br><br>
        Чтобы воспользоваться этой функцией необходимо установить соответствующую настройку в разделе «Настройки»:<br>

        <img src="assets/news/img/17.06.2020/2.png" width="1250px">
        <br><br>
        2. Обновлена сводка отзывов.

    </strong>
</div>

<div class="alert alert-success alert-success-custom">
    <strong>
        Обновлена сводка отзывов.

    </strong>
</div>

<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 16.06.2020</b></i></span>
<br>

<div class="alert alert-success alert-success-custom">
    <strong>

        1. Блок «Описание и адреса выезда» дополнен позицией «Ответственный по гарнизону» (пункт 1.19 Сводки отзывов).<br>
        2. В блоке «Информирование должностных лиц» реализована возможность заполнения информации о выехавшем составе оперативной группы (пункт 1.25 Сводки отзывов).
        При формировании специального донесения из ПС «Журнал ЦОУ» информация заполняется автоматически (при заполненности в ПС «Журнал ЦОУ»).<br>
        3. В итоговом СД в случае подачи стволов данный раздел имеет название «Оперативные данные по боевым действиям» (пункт 3.3 Сводки отзывов).
    </strong>
</div>


<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 15.06.2020</b></i></span>
<br>

<div class="alert alert-success alert-success-custom">
    <strong>

        1. Реализована возможность прикрепления аудиофайла (формат – mp3) к специальному донесению (пункт 1.13 Сводки отзывов).<br>
        2. Обновлена сводка отзывов.

    </strong>
</div>


<div class="alert alert-success alert-success-custom">
    <strong>

        1. При формировании специального донесения, информация по направлению СиС
        теперь формируется из учета техники основного, а после специального и вспомогательного назначения исходя из расстояния (пункт 1.24, 4.8 Сводки отзывов).<br>

        2. Реализована возможность учета возвращения техники в пути следования – добавлен переключатель «возврат» для каждой единицы техники (пункт 1.22, 4.4 Сводки отзывов).
        При формировании специального донесения из ПС «Журнал ЦОУ» отметка о возвращении техники ставится автоматически.<br>

        3. Реализованы пункты: 1.6, 4.9, 4.10, 5.14, 5.15, 5.16, 5.17 Сводки отзывов.<br>
        4. Обновлена сводка отзывов.


    </strong>
</div>


<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 12.06.2020</b></i></span>
<br>


<div class="alert alert-success alert-success-custom">
    <strong>
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red"></i> Просьба очистить кэш браузера.<br><br>
        Осуществлена доработка программного средства с учетом полученных замечаний и предложений от ОПЧС:<br>

        1. Добавлен раздел «Принадлежность» и размещен динамический набор полей для физических и юридических лиц (пункт 3.4 Сводки отзывов).<br>
        2. Раздел «Объект» доработан и связан с разделом «Принадлежность» (пункт 3.5 Сводки отзывов).<br>
        3. Реализована возможность автоматического отображения данных о заявителе в первом абзаце специального донесения (пункт 4.7 Сводки отзывов).<br>
        4. Исправлены пункты: 1.20, 2.3, 3.1, 3.6, 4.6, 5.3, 5.4, 5.6, 5.7, 5.8, 5.9, 5.12, 5.13 Сводки отзывов.<br>
        5. Реализована настройка неотображения секунд (пункт 5.21 Сводки отзывов).<br>
        6. Доработан блок «Данные по заявителю» (пункты 1.33, 1.34, 3.2, 5.24, 7.6 Сводки отзывов).<br>
        7. Блок «Сведения о надзорной и профилактической деятельности» выводится в итоговое СД (пункт 5.28 Сводки отзывов).<br>
        8. Добавлена опция отключения вывода широты и долготы в СД при формировании простого СД с видом «МИНИРОВАНИЕ» (пункт 5.29 Сводки отзывов).<br>
        9. Обновлена сводка отзывов.

    </strong>
</div>



<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 11.06.2020</b></i></span>
<br>


<div class="alert alert-primary">
    <strong>
        Подготовлена краткая схема, как работает ПС &laquo;Специальные донесения&raquo; в автоматизированном режиме (<u><a href="http://172.26.200.14/speciald/assets/news/Как_работает_СД.pptx">скачать</a></u>).
    </strong>
</div>



<div class="alert alert-success alert-success-custom">
    <strong>
        Исключены позиции &laquo;Вид ЧС&raquo;, &laquo;Вид ЧС 1&raquo;, &laquo;Причина выезда&raquo; (блок &laquo;Описание выезда и базовые таблицы&raquo;).
    </strong>
</div>



<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 09.06.2020</b></i></span>
<br>


<div class="alert alert-primary">
    <strong>
        Размещаем <span style="color:red">сводку отзывов</span> по результатам рассмотрения предложений от областных и Минского городского УМЧС (<u><a href="http://172.26.200.14/speciald/assets/news/svodka_otsiv_25.doc">скачать</a></u>).<br>
        Были обработаны 102 предложения, 46 из которых приняты к реализации.<br>
        Опытная эксплуатация программного средства в других Г(Р)ОЧС будет продолжена во втором полугодии 2020 года.
    </strong>
</div>


<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 08.06.2020</b></i></span>
<br>


<div class="alert alert-success alert-success-custom">
    <strong>
        Исключена позиция "Выполняемый вид работ" для привлекаемых сил и средств других ведомств.
    </strong>
</div>





<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 27.05.2020</b></i></span>
<br>


<div class="alert alert-success alert-success-custom">
    <strong>
        Осуществлена доработка программного средства с учетом полученных замечаний и предложений от ОПЧС.<br>
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red"></i> Просьба очистить кэш браузера.
        <br>        <br>
        <i>Справочно: <u><a href="http://172.26.200.14/journal/assets/doc/reset%20history.doc">скачать правила очистки кэша браузера</a></u>.</i>
        <br><br>



    </strong>
</div>

<style>
    .main-content{
        margin-right: 300px;
        margin-left: 300px;
    }
</style>


