<br>



<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 15.06.2020</b></i></span>
<br>

<div class="alert alert-success alert-success-custom">
    <strong>

        1. Реализована возможность прикрепления аудиофайла (формат – mp3) к специальному донесению (пункт 1.13 Сводки отзывов).<br>
        2. Обновлена сводка отзывов.

    </strong>
</div>


<div class="alert alert-success alert-success-custom">
    <strong>

        1. При формировании специального донесения, информация по направлению СиС
        теперь формируется из учета техники основного, а после специального и вспомогательного назначения исходя из расстояния (пункт 1.24, 4.8 Сводки отзывов).<br>

        2. Реализована возможность учета возвращения техники в пути следования – добавлен переключатель «возврат» для каждой единицы техники (пункт 1.22, 4.4 Сводки отзывов).
        При формировании специального донесения из ПС «Журнал ЦОУ» отметка о возвращении техники ставится автоматически.<br>

        3. Реализованы пункты: 1.6, 4.9, 4.10, 5.14, 5.15, 5.16, 5.17 Сводки отзывов.<br>
        4. Обновлена сводка отзывов.


    </strong>
</div>


<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 12.06.2020</b></i></span>
<br>


<div class="alert alert-success alert-success-custom">
    <strong>
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red"></i> Просьба очистить кэш браузера.<br><br>
        Осуществлена доработка программного средства с учетом полученных замечаний и предложений от ОПЧС:<br>

        1. Добавлен раздел «Принадлежность» и размещен динамический набор полей для физических и юридических лиц (пункт 3.4 Сводки отзывов).<br>
        2. Раздел «Объект» доработан и связан с разделом «Принадлежность» (пункт 3.5 Сводки отзывов).<br>
        3. Реализована возможность автоматического отображения данных о заявителе в первом абзаце специального донесения (пункт 4.7 Сводки отзывов).<br>
        4. Исправлены пункты: 1.20, 2.3, 3.1, 3.6, 4.6, 5.3, 5.4, 5.6, 5.7, 5.8, 5.9, 5.12, 5.13 Сводки отзывов.<br>
        5. Реализована настройка неотображения секунд (пункт 5.21 Сводки отзывов).<br>
        6. Доработан блок «Данные по заявителю» (пункты 1.33, 1.34, 3.2, 5.24, 7.6 Сводки отзывов).<br>
        7. Блок «Сведения о надзорной и профилактической деятельности» выводится в итоговое СД (пункт 5.28 Сводки отзывов).<br>
        8. Добавлена опция отключения вывода широты и долготы в СД при формировании простого СД с видом «МИНИРОВАНИЕ» (пункт 5.29 Сводки отзывов).<br>
        9. Обновлена сводка отзывов.

    </strong>
</div>



<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 11.06.2020</b></i></span>
<br>


<div class="alert alert-primary">
    <strong>
        Подготовлена краткая схема, как работает ПС &laquo;Специальные донесения&raquo; в автоматизированном режиме (<u><a href="http://172.26.200.14/speciald/assets/news/Как_работает_СД.pptx">скачать</a></u>).
    </strong>
</div>



<div class="alert alert-success alert-success-custom">
    <strong>
        Исключены позиции &laquo;Вид ЧС&raquo;, &laquo;Вид ЧС 1&raquo;, &laquo;Причина выезда&raquo; (блок &laquo;Описание выезда и базовые таблицы&raquo;).
    </strong>
</div>



<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 09.06.2020</b></i></span>
<br>


<div class="alert alert-primary">
    <strong>
        Размещаем <span style="color:red">сводку отзывов</span> по результатам рассмотрения предложений от областных и Минского городского УМЧС (<u><a href="http://172.26.200.14/speciald/assets/news/svodka_otsiv_15_1.doc">скачать</a></u>).<br>
		Были обработаны 102 предложения, 46 из которых приняты к реализации.<br>
		Опытная эксплуатация программного средства в других Г(Р)ОЧС будет продолжена во втором полугодии 2020 года.
    </strong>
</div>


<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 08.06.2020</b></i></span>
<br>


<div class="alert alert-success alert-success-custom">
    <strong>
        Исключена позиция "Выполняемый вид работ" для привлекаемых сил и средств других ведомств.
    </strong>
</div>





<span style="color: #a94442; font-size: 15px; float: left;"> <i><b> Дата публикации 27.05.2020</b></i></span>
<br>


<div class="alert alert-success alert-success-custom">
    <strong>
        Осуществлена доработка программного средства с учетом полученных замечаний и предложений от ОПЧС.<br>
        <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red"></i> Просьба очистить кэш браузера.
        <br>        <br>
        <i>Справочно: <u><a href="http://172.26.200.14/journal/assets/doc/reset%20history.doc">скачать правила очистки кэша браузера</a></u>.</i>
        <br><br>



    </strong>
</div>

<style>
    .main-content{
        margin-right: 300px;
        margin-left: 300px;
    }
</style>


