     <!-- Modal Delele-->
        <div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title ff-l" id="myModalLabel">Удалить</h4>
                        <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>


                    </div>
                    <div class="modal-body">
                        <p>Удалить пользователя <b><span></span></b> ?</p>
                    </div>
                    <div class="modal-footer">

                        <button id="delete-user-btn"  type="button" class="btn btn-danger"   >Удалить</button>
                        <button  type="button" class="btn btn-secondary close-window" >Отмена</button>
                    </div>
                </div>
            </div>
        </div>