<div id="panel_preview_sit_fa" class="fixed t-left close_panel left-panel" style="display:{%if is_edit_dones is defined and is_edit_dones == 1 and dones.is_show_sit_fa == 1  %}block{%else%}none{%endif%}">
    <a id="preview_sit_fa_button"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Предпросмотр (Обстановка по прибытию)"> <i class="fa fa-tripadvisor" style="color:red"></i> </a>

    <div id="preview-sit-fa-standart">

        <b><u>Предпросмотр (Обстановка по прибытию):</u></b>


        <textarea  class="form-control" cols="2" rows="8"  name="sit_fa_preview">{%if dones.sit_fa_preview is defined and dones.sit_fa_preview is not empty%}{{dones.sit_fa_preview|trim}}{%endif%}</textarea>

    </div>
</div>

