
<div class="modal fade" id="modal-spravka"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ff-l" id="myModalLabel">Программное средство «Специальные донесения»</h5>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>


            <div class="modal-body">

                {#<a href='#' ><span style='color:red'>Инструкция по использованию</span></a><br>#}

                Программное средство предназначено для автоматизированной подготовки специальных донесений на основе информации из программных средств "Журнал ЦОУ", "Строевая записка", "Учет сил и средств ОПЧС".

                <br><br>
                {#Скачать <a href='#'>Письмо о внедрении ПС «Специальные донесения» (исх.№ 502 от 19.03.2019)</a></b><br>#}

                <br>
                <b>Контактная информация:</b><br>
                автор идеи - Шилько Сергей Чеславович<br>
                руководитель - Шульга Максим Константинович, 8(017) 209 27 51<br>
                разработчик - Дещеня Наталья Александровна<br>

            </div>



        </div>
    </div>


</div>
