
<div class="modal fade" id="modal-spravka"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ff-l" id="myModalLabel">Программное средство «Специальные донесения»</h5>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>


            <div class="modal-body">

                {#<a href='#' ><span style='color:red'>Инструкция по использованию</span></a><br>#}

                Программное средство предназначено для автоматизированной подготовки специальных донесений на основе информации из программных средств "Журнал ЦОУ", "Строевая записка", "Учет сил и средств ОПЧС".

                <br><br>

                <b>Краткая схема работы в автоматизированном режиме:</b> <u><a href="http://172.26.200.14/speciald/assets/news/Как_работает_СД.pptx">скачать</a></u>.
                <br>
                <b>Принципы работы:</b> <u><a href="http://172.26.200.14/speciald/assets/news/Принципы_работы_ПС_Специальные_донесения.pptx">скачать</a></u>.
                 <br>
                <b>Руководство пользователя:</b> <u><a href="http://172.26.200.14/speciald/assets/news/РП СД (ver. 1.1).docx">скачать</a></u>.
                <br>
                <b>Версия: 3.5</b>
                <br><br>
                {#Скачать <a href='#'>Письмо о внедрении ПС «Специальные донесения» (исх.№ 502 от 19.03.2019)</a></b><br>#}

                <br>
                <b>Контактная информация:</b><br>
                авторы идеи - ОВПО РЦУРЧС<br>
                руководитель - Шульга Максим Константинович, 8(017) 209 27 51<br>
                разработчик - Дещеня Наталья Александровна<br>

            </div>



        </div>
    </div>


</div>
