{% extends 'layout.twig' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <!-- content -->


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">

 <!-- видеоурок -->

 <!-- <div class="container">
	<div class="row">
		<div class="col-6">1</div>
		<div class="col-3">2</div>
	</div>

</div> -->

<!-- видеоурок -->


    <div class="container">
      <h1 class="display-3">Специальные донесения!</h1>
      <p>Программное средство предназначено для автоматизированной подготовки специальных донесений на основе информации из программных средств <i>"Журнал ЦОУ", "Строевая записка", "Учет сил и средств ОПЧС". </i></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Стандартное</h2>
        <p>Данный вид специального донесения содержит стандартные таблицы по боевой работе, строевой записке, информированию, привлечению служб взаимодействия с возможностью ручной корректировки</p>
        <p><a class="btn btn-secondary" href="{{ base_url('/create/form_standart/1')}}" role="button">Перейти &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Простое</h2>
        <p>Данный вид специального донесения содержит только текст (без базовых блоков из стандартного вида)</p>
        <p><a class="btn btn-secondary" href="{{ base_url('/create/form_simple')}}" role="button">Перейти &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Мои шаблоны</h2>
        <p>Раздел предназначен для первичного ввода шаблонов-заготовок для вставки больших кусков уже набранного текста при подгототвке специального донесения</p>
        <p><a class="btn btn-secondary" href="#" role="button">Перейти &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->


    <!-- .content -->

{% endblock %}




{% block head %}{% endblock %}

{% block footer %}

{% include 'copyright_footer.twig' %}

{% endblock %}

