<ul class="timer_time_msg">
    <li>
        <span class="hours">00</span>
        <div class="hours_ref">часы</div>
    </li>
    <li class="seperator">:</li>
    <li>
        <span class="minutes">00</span>
        <div class="minutes_ref">мин</div>
    </li>
    <li class="seperator">:</li>
    <li>
        <span class="seconds">00</span>
        <div class="seconds_ref">сек</div>
    </li>
    <li>
        <span  id="end_timer_time_msg" class="black_end_timer_time_msg"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
    </li>
</ul>

