          <ul class="countdown">
              <li>
                  <span class="hours">00</span>
                  <div class="hours_ref">часы</div>
              </li>
              <li class="seperator">:</li>
              <li>
                  <span class="minutes">00</span>
                  <div class="minutes_ref">мин</div>
              </li>
              <li class="seperator">:</li>
              <li>
                  <span class="seconds">00</span>
                  <div class="seconds_ref">сек</div>
              </li>
          </ul>