<div class="card">
    <div class="card-header" >
        Другие дополнительные сведения
    </div>
    <!-- /.panel-heading -->
    <div class="card-body" >
        Другие дополнительные сведения по подаче стволов и т.д.<br>
        Профилактические мероприятия (при необходимости)
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>