<div class="card">
    <div class="card-header" >

    </div>
    <!-- /.panel-heading -->
    <div class="card-body" id="gdzs-block">


        <div class="form-row create-form-row">


            <div class="form-group col-md-2">
                <label for="spec_cnt_gdzs" >Кол-во звеньев ГДЗС:</label>
                <input type="number" class="form-control"  placeholder="" name="spec_cnt_gdzs" value="{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.spec_cnt_gdzs is not empty %}{{dones.spec_cnt_gdzs}}{%endif%}">
            </div>

            <div class="form-group col-md-2">
                <label for="spec_time_work_gdzs" >Время работы:</label>
                <input type="time" class="form-control"  placeholder="" name="spec_time_work_gdzs" value="{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.spec_time_work_gdzs is not empty %}{{dones.spec_time_work_gdzs|date('H:i')}}{%endif%}">
            </div>


            <div class="form-group col-md-3">
                <label for="spec_time_work_bef_inj_gdzs" >в т.ч. время работы до обнаружения пострадавших:</label>
                <input type="time" class="form-control"  placeholder="" name="spec_time_work_bef_inj_gdzs" value="{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.spec_time_work_bef_inj_gdzs is not empty %}{{dones.spec_time_work_bef_inj_gdzs|date('H:i')}}{%endif%}">
            </div>


            <div class="form-group col-md-3">
                <label for="spec_time_shtab_gdzs" >Время создания штаба тушения пожара:</label>
                <input type="time" class="form-control"  placeholder="" name="spec_time_shtab_gdzs" value="{%if is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.spec_time_shtab_gdzs is not empty %}{{dones.spec_time_shtab_gdzs|date('H:i')}}{%endif%}">
            </div>


        </div>



    </div>
    <!-- /.panel-body -->
</div>