body{
    opacity: 0.5;
}
        #before-load {
			//opacity:0;

            position: fixed; /*фиксированное положение блока*/
            left: 0; /*положение элемента слева*/
            top: 0; /*положение элемента сверху*/
            right: 0; /*положение элемента справа*/
            bottom: 0; /*положение элемента снизу*/
            background: #dde5ef; /*цвет заднего фона блока*/
            z-index: 1001; /*располагаем его над всеми элементами на странице*/
        }
        #before-load i {

            font-size: 100px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -70px 0 0 -70px;
        }

		        #before-load span {

            font-size: 14px;
            position: absolute;
            left: 50%;
            top: 50%;
           // margin: -70px 0 0 -70px;
			padding-top: 82px;
			margin-left: -43px;
        }

        


