<li class="nav-item active">
    <a class="nav-link {%if active_item_menu is defined and active_item_menu == 'news'%} active_item_menu {%endif%}" href="{{ base_url('/news')}}" data-toggle="tooltip" data-placement="right" title="Новости" >
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;
        <small class="label pull-right badge badge-primary" >02.10.2020</small>
        <span class="sr-only"></span></a>
</li>