
body{
    background-color: #f8f8f8;
}

.catalog-table thead, table tfoot tr{
    background-color: #ffffff;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 5px 5px 5px 5px !important;
}


table.dataTable tbody td {
    text-align: center;
}

/*  logout window */
.login-window{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
    left: auto;
    right: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    top: 43px;
}

.login-window > li.user-header {
    height: 200px;
    padding: 10px;
    text-align: center;
}
/*  END logout window */

.custom-a{
    color:#fff;
}

.custom-a:hover {
    text-decoration: none;
    color: #fff; /* Цвет ссылки */
}
.user-header{
    background-color: #343a40;
    color: white;
}

.btn-logout{
    border: 1px solid #becad4;
}

.main-content{

    min-height: 250px;
    padding: 70px 15px 15px 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 15px;
}


.copyright-footer{
    position: absolute;
    bottom: 0;
    left: 0;
}

.active_item_menu{
    color: #ffc107 !important;
}

.guest-user{
    color: #6fef8c;
    text-decoration: none;
    color: #6fef8c !important; /* Цвет ссылки */
}

.create-form-row{
    margin-left: 10px;
}



/*--------------- линиия с пояняющим текстом ----------------*/
.line {
    font-size: 14px;

    text-align: center;
    position: relative;
}
.line span {
    background-color: #d2d6da;
    position: relative;
    z-index: 1;
    padding: 0px 25px;

    font-style: italic;
    color: #222d32;
    font-weight: 600;
}
.line:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color:  #a3b1b7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 0;
}
/*--------------- КОНЕЦ линиия с пояняющим текстом ----------------*/


.delete-cross{
    color: #b30202;
}
.info-all{
    color:  #17a2b8;
}


.breadcrumb{
    padding-top: 5px;
    padding-bottom: 5px;
}


.select2-search__field{
    /*            width: auto !important;*/
}

.field-not-exectly{
    background-color: #f7ecb5;
}

.up,.down{
    cursor: pointer;
}


.table td {
    padding: 0.25rem !important;
}

.card-body {
    padding-left: 10px !important;
    padding-right: 10px !important;
}


.accordion-a-official{
    background-color:#999 !important;
    color: white !important;
    border: solid 1px #6c757d !important;
}
.accordion-content-official{
    border: solid 1px #999999 !important;
}

.a-non-dec:hover {
    text-decoration: none;
}


.a-custom{
    text-decoration: underline;
}


.prove-info{
    text-decoration: underline;
    color: #039e03;
    font-weight: 600;
}

.refuse-info{
    text-decoration: underline;
    color: red;
    font-weight: 600;
}
.refuse-info-edit{
    text-decoration: underline;
    /*    color: #88a728;*/
    color: #dc3545;
    font-weight: 600;
}


#detail-refuse-sd-modal .modal-header{
    border-bottom: none;
}
#detail-refuse-sd-modal .modal-footer {
    border-top: none;
}

.copy-sd{
    font-size: 16px;
    color: red;
    font-weight: 800;
    text-transform: uppercase; /* Заглавные буквы */
}

.hide{
    display: none;
}

.actions_ls_btn_trunks{
    cursor: pointer;
}


.catalog-head{
    padding-top:10px;


}

.header_auth_user{
    color:#ffc107
}


.standart-sd-color>td{
    /*background-color: #e8f7ec !important*/
    /*//background-color: #e0f5e5 !important;
    //border-color: #aed2b6 !important*/
    border-color: #ece993 !important;
    background-color: #f7f5bc !important;
}


.table-hover > tbody > tr > td.standart-sd-color:hover,
.table-hover > tbody > tr > th.standart-sd-color:hover,
.table-hover > tbody > tr.standart-sd-color:hover > td,
.table-hover > tbody > tr:hover > .standart-sd-color,
.table-hover > tbody > tr.standart-sd-color:hover > th {
    /*  background-color: #c7e6cf  !important;*/
    background-color: #f1ee9c !important;
}


.table-hover > tbody > tr > td.standart-sd-confirm-umchs:hover,
.table-hover > tbody > tr > th.standart-sd-confirm-umchs:hover,
.table-hover > tbody > tr.standart-sd-confirm-umchs:hover > td,
.table-hover > tbody > tr:hover > .standart-sd-confirm-umchs,
.table-hover > tbody > tr.standart-sd-confirm-umchs:hover > th {
    /*  background-color: #c7e6cf  !important;*/
    background-color: #f9dd87 !important;
}

.table-hover > tbody > tr > td.standart-sd-confirm:hover,
.table-hover > tbody > tr > th.standart-sd-confirm:hover,
.table-hover > tbody > tr.standart-sd-confirm:hover > td,
.table-hover > tbody > tr:hover > .standart-sd-confirm,
.table-hover > tbody > tr.standart-sd-confirm:hover > th {
    /*  background-color: #c7e6cf  !important;*/
    background-color: #c1efc1 !important;
}


@media screen and (max-width: 1000px) {


    .left-panel{
        display: none;
    }

}


input[type="checkbox"][readonly] {
    pointer-events: none;
}

.new-field{
    background-color: #e5ef5833;
}


.standart-sd-confirm td{
    background-color: #00800061 !important;
    border: 1px #86b386 solid;

}

.standart-sd-confirm-umchs td{
    background-color: #b9e0b9 !important;
    border: 1px #96c596 solid;

}

.range_sd_li .select2-container{
    width: 100px !important;
    font-size:15px  !important;

}


.standart-sd-confirm td {
    /*    background-color: #d2f3d2 !important;*/
    background-color: #d2fdd2 !important;

    border: 1px #a4e2a4 solid;
}


.standart-sd-confirm-umchs td {
    background-color: #f7e3a5 !important;
    border: 1px #fbd355 solid;
}

.check-refuse-info-edit{
    color: green;
}

.img-ct{
    width: 476px;
    border: 1px solid #6c757d;
}


#table-description{
    width: 91%;
    margin-left: 20px;
    border: 1px solid #ccc;
}

#table-description tbody tr td{
    border: 1px solid #ccc;
}

.ct_1_bold_td{
    font-weight: 800;
}



#table-description tbody tr td .select2-container{
    width: 267px !important;
}

#table-description tbody tr .td_ct_1_goal_rig .select2-container{
    width: 600px !important;
}

.show-modal-help-ct1{
    cursor: pointer;
    float: right;
    color: green;
    float: inherit;
}

.table-without-border tr td{
    border-top: none;
}

.error-inpt{
    border: 2px solid red;
}

#show-error .modal-header .modal-title{
    color: #d9534f;
}
#show-error .modal-body p{
    font-weight: 700;
}

.btn-panel-simple-sd{
    margin-left: 15px;
}

.sittings-block  .typing-progress{
    position: absolute;
    height: 50%;
    margin-top: 32px;

}

.sittings-block  .typing-progress {
    width: 0;
    left: 0px;
}

.sittings-block    .typing-progress-background{
    position: absolute;
    width: 92%;
    height: 50%;
    background: white;
    left: 4px;

    margin-top: 32px;
}

.sittings-block   .search-input{
    position: relative;
    display: inline-block;
}

.sittings-block .search-input input{
    position: relative;
}


.sittings-block .typing-progress.submitting {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(224,241,205,1) 50%, rgba(200,234,158,1) 100%);
}

.sittings-block .typing-progress.typing {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(214,240,255,1) 50%, rgba(178,228,255,1) 100%);
}


.sittings-block .search-input.with-progress input {
    background-color: transparent;
}

.sittings-block .search-input{
    width: 320px !important;
}


.sittings-block   .col-md-2 .typing-progress-background{
    position: absolute;
    width: 97%;
    height: 50%;
    background: white;
    left: 4px;

    margin-top: 32px;
}



#catalog-filter .select2-container--default .select2-selection--single{
    height: 37px !important;
}

.filter-status-sd .select2-container{
    width: 273px !important;
}

.filter-status-sd .select2-container .select2-selection__rendered{
    padding-top: 3px;
}


.filter-status-sd .select2-container .select2-selection__arrow{
    margin-top: 5px;
}


.filter-vid-sd-div .select2-container .select2-selection__rendered{
    padding-top: 3px;
}


.filter-vid-sd-div .select2-container .select2-selection__arrow{
    margin-top: 5px;
}


.reset_filter{
    margin-top: 23px;
}

#catalog-filter .sittings-block{
    line-height: 0.8;
}



.pagination-block ul.pagination li a {
    background-color: #e5e6e6;
    border: none;
    padding: 10px;
    padding-top: 15px;
    color: #636d7d;
}

.pagination-block ul.pagination li.active a {
    background-color: #d4d6d8;
    color: #212529;
}


.pag-new  .pagination .selected{
   font-weight: 800;
   background-color: #d4d6d8;

}


.number_blocks ul.pagination{
    float: right;
}

.number_page{
    padding-left: 20px;
}

.title-warning{
    color: #ffc107;
}


.card-header-limon{
background-color: #faffc3;
}
.card-body-limon{
    background-color: rgb(251, 253, 228);
}
.refresh-icon img{
    width: 19px;
}
.refresh-icon:hover {
text-decoration: none;
}
