.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;

    border: 1px solid #ccc;

}

.input-group-addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}