#upload-img .form-control {
    display: inline-block;
    min-height: 80px;
    height: auto;
    padding: 0;
}

div#upload-img .upload-info {
    width: 390px;
}

.form-control .upload-info {
    position: relative;
    top: 0;
    left: 0;
    margin: 15px auto 0 0;
    display: flex;
}

.form-control .upload-info span {
    color: #aab8ce;
    margin: auto;
    position: relative;
    padding-left: 70px;
    min-height: 55px;
    align-items: normal;
    flex-direction: column;
    width: 100%;
    height: auto;
    word-wrap: normal;
    word-break: break-word;
}


.form-control .upload-info span:before {
    content: '';
    width: 45px;
    height: 55px;
    background: url(../images/upload.svg);
    background-size: 50px;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    background-position: center;
}

.form-control input[type="file"] {
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}


#video-div .form-control {
    display: inline-block;
    min-height: 80px;
    height: auto;
    padding: 0;
}


.issue-img {
    width: 824px;
    /* height: 200px; */
}


.issue-video {
    width: 824px;
    /* height: 200px; */
}


@media (min-width: 576px){
#modal-media .modal-dialog {
    max-width: 860px;
    margin: 1.75rem auto;
}
}



.issue-img-multi {
    width: 247px;
    /* height: 200px; */
}

@media (min-width: 576px){
#modal-media-multi .modal-dialog {
    max-width: 860px;
    margin: 1.75rem auto;
}
}

.issue-img-multi,.issue-video-multi,.issue-audio-multi{
    margin-left: 20px;
}
.delete-img-multi,.delete-icon-video-multi, .delete-icon-audio-multi{
    position: absolute;
    color: red;
}

.issue-video-multi {
    width: 383px;
    /* height: 200px; */
}

.isset_media{
    color: green;
}

