/*        #div-preview-opening-description, #div-preview-object{
            position: fixed;
            bottom: 500px;
            right: 2px;
            cursor: pointer;
            width: 650px;
            z-index: 1000;
            border: solid 1px #254aa2;
            margin-top: 0px;
            padding-top: 3px;
            padding-bottom: 0px;
            background-color:#f8f9fa;
        }

#div-preview-object{
            position: fixed;
            bottom: 300px;
            right: 2px;
            cursor: pointer;
            width: 650px;
            z-index: 1000;
            border: solid 1px #254aa2;
            margin-top: 0px;
            padding-top: 3px;
            padding-bottom: 0px;
            background-color:#f8f9fa;
        }*/






/* panel opening description */
#panel_preview_opening_description.open_panel {
    left: 75%;
    top: 13%;
}
#panel_preview_opening_description {
    width: 24%;
    height: auto;
/*    background-color: rgba(255, 255, 255, 0.96);*/
background-color: rgba(192, 241, 203, 0.96);
    z-index: 500;
    top: 14%;
    color: #9b9b9b;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ECECEC;
    cursor: default;
    padding-bottom: 10px;

    transition: all 0.5s;
    opacity: 0.85;
}


#panel_preview_opening_description  #preview-opening-description-standart {
    width: 100%;
    position: relative;
    height: auto;
    border-bottom: 1px solid #ECECEC;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.fixed {
    position: fixed !important;
}



#panel_preview_opening_description #preview_opening_description_button {
    width: 48px;
    height: 48px;
    top: 0%;
    position: absolute;
    right: 100%;
    background-color: rgba(255, 255, 255, 0.96);
    display: block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    text-align: center;
    font-size: 24px;
    color: #444;
    line-height: 48px;
    border: 1px solid #ECECEC;
    border-left: 0px;
     cursor: pointer;
    background-color: #c0f1cb;
}


/* close preview */
#panel_preview_opening_description.close_panel {
    left: 100%;
    top: 20%;
}

#preview-opening-description-standart{
    padding-left: 4px;
    padding-right: 4px;
    color: #343a40;

        max-height: 850px;
    overflow-y: scroll;
}





/* panel object */
#panel-preview-object.open_panel {
    left: 75%;
    top: 30%;
}
#panel-preview-object {
    width: 24%;
    height: auto;
/*    background-color: rgba(255, 255, 255, 0.96);*/
background-color: rgba(249, 221, 139, 0.96);
    z-index: 500;
    top: 14%;
    color: #9b9b9b;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ECECEC;
    cursor: default;
    padding-bottom: 10px;

    transition: all 0.5s;
    opacity: 0.85;
}


#panel-preview-object  #preview-object-standart {
    width: 100%;
    position: relative;
    height: auto;
    border-bottom: 1px solid #ECECEC;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}


#panel-preview-object #preview_object_button {
    width: 48px;
    height: 48px;
    top: 0%;
    position: absolute;
    right: 100%;
    background-color: rgba(255, 255, 255, 0.96);
    display: block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    text-align: center;
    font-size: 24px;
    color: #444;
    line-height: 48px;
    border: 1px solid #ECECEC;
    border-left: 0px;
    cursor: pointer;
    background-color: #f9dd8b;
}


/* close preview */
#panel-preview-object.close_panel {
    left: 100%;
    top: 26%;


}

#preview-object-standart{
    padding-left: 4px;
    padding-right: 4px;
    color: #343a40;

            max-height: 550px;
    overflow-y: scroll;
}




/* panel prevention */
#panel_preview_prevention.open_panel {
    left: 75%;
    top: 40%;
}
#panel_preview_prevention {
    width: 24%;
    height: auto;
/*    background-color: rgba(255, 255, 255, 0.96);*/

background-color: rgba(241, 192, 235, 0.96);
    z-index: 500;
    top: 14%;
    color: #212529;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ECECEC;
    cursor: default;
    padding-bottom: 10px;

    transition: all 0.5s;
    opacity: 0.85;
}


#panel_preview_prevention  #preview-prevention {
    width: 100%;
    position: relative;
    height: auto;
    border-bottom: 1px solid #ECECEC;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}



#panel_preview_prevention #preview_prevention_button {
    width: 48px;
    height: 48px;
    top: 0%;
    position: absolute;
    right: 100%;
    background-color: rgba(255, 255, 255, 0.96);
    display: block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    text-align: center;
    font-size: 24px;
    color: #212529;
    line-height: 48px;
    border: 1px solid #ECECEC;
    border-left: 0px;
     cursor: pointer;
    background-color: #f1c0eb;
}


/* close preview */
#panel_preview_prevention.close_panel {
    left: 100%;
    top: 32%;
}

#preview_prevention{
    padding-left: 4px;
    padding-right: 4px;
    color: #212529;

        max-height: 400px;
    overflow-y: scroll;
}






/* panel owner */
#panel_preview_owner.open_panel {
    left: 75%;
    top: 13%;
}
#panel_preview_owner {
    width: 24%;
    height: auto;
/*    background-color: rgba(255, 255, 255, 0.96);*/
background-color: #f7c19b;
    z-index: 500;
    top: 14%;
    color: #9b9b9b;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ECECEC;
    cursor: default;
    padding-bottom: 10px;

    transition: all 0.5s;
    opacity: 0.85;
}


#panel_preview_owner  #preview-owner-standart {
    width: 100%;
    position: relative;
    height: auto;
    border-bottom: 1px solid #ECECEC;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.fixed {
    position: fixed !important;
}



#panel_preview_owner #preview_owner_button {
    width: 48px;
    height: 48px;
    top: 0%;
    position: absolute;
    right: 100%;
    background-color: #f7c19b;
    display: block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    text-align: center;
    font-size: 24px;
    color: #444;
    line-height: 48px;
    border: 1px solid #ECECEC;
    border-left: 0px;
     cursor: pointer;
    background-color: #f7c19b;
}


/* close preview */
#panel_preview_owner.close_panel {
    left: 100%;
    top: 12%;
}

#preview-owner-standart{
    padding-left: 4px;
    padding-right: 4px;
    color: #343a40;

        max-height: 850px;
    overflow-y: scroll;
}









/* panel situation first arrival */
#panel_preview_sit_fa.open_panel {
    left: 75%;
    top: 13%;
}
#panel_preview_sit_fa {
    width: 24%;
    height: auto;
/*    background-color: rgba(255, 255, 255, 0.96);*/
background-color: rgb(101 175 255 / 76%);
    z-index: 500;
    top: 14%;
    color: #9b9b9b;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ECECEC;
    cursor: default;
    padding-bottom: 10px;

    transition: all 0.5s;
    opacity: 0.85;
}


#panel_preview_sit_fa  #preview-sit-fa-standart {
    width: 100%;
    position: relative;
    height: auto;
    border-bottom: 1px solid #ECECEC;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.fixed {
    position: fixed !important;
}



#panel_preview_sit_fa #preview_sit_fa_button {
    width: 48px;
    height: 48px;
    top: 0%;
    position: absolute;
    right: 100%;
    background-color: rgba(255, 255, 255, 0.96);
    display: block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    text-align: center;
    font-size: 24px;
    color: #444;
    line-height: 48px;
    border: 1px solid #ECECEC;
    border-left: 0px;
     cursor: pointer;
    background-color: #9bcbff;
}


/* close preview */
#panel_preview_sit_fa.close_panel {
    left: 100%;
    top: 60%;
}

#preview-sit-fa-standart{
    padding-left: 4px;
    padding-right: 4px;
    color: #343a40;

        max-height: 850px;
    overflow-y: scroll;
}
