<div class="modal fade" id="modal-catalog-media" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title ff-l" id="myModalLabel">Медиа СД </h5>
                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>


            </div>
            <div class="modal-body">


            </div>
        </div>
    </div>
</div>

