

<div class="card" >



    <div class="card-header" >

    </div>
    <!-- /.panel-heading -->
    <div class="card-body" >


        <div class="form-row create-form-row">



            <div class="form-group col-md-2" >
                <label for="prevention_time" >Когда:</label>
                <input type="text" data-container="body" class="form-control date-cal"  placeholder="" name="prevention_time" value="">
            </div>





            <div class="form-group col-md-4">
                <label for="prevention_who" >Кем:</label>
                <input type="text" class="form-control"  placeholder="" name="prevention_who"  value="">
            </div>


        </div>



        <div class="form-row create-form-row">




            <div class="form-group col-md-6">
                <label for="prevention_result" >Результаты профилактической работы:</label>
                <textarea class="form-control" cols="3" rows="3"  name="prevention_result"></textarea>
            </div>



            <div class="form-group col-md-6">
                <label for="prevention_events" >Проводимые мероприятия для формирования в обществе культуры, безопасной жизнедеятельности:</label>
                <textarea class="form-control" cols="3" rows="3"  name="prevention_events"></textarea>
            </div>

        </div>
    </div>
    <!-- /.panel-body -->
</div>

