
<div class="modal fade" id="modal-copy-trunk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title ff-l" id="myModalLabel">Копирование строки</h4>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>

            <div class="modal-body">

                <p>Строка будет скопирована и добавлена в таблицу &laquo;Сведения по подаче стволов&raquo;?<br>
                Выполнить копирование?</p>

            </div>
            <div class="modal-footer">

                <button id="btn-copy-trunk"  type="button" class="btn btn-warning" data-rid="" >Копировать</button>
                <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Отмена</button>
            </div>
        </div>
    </div>
</div>