
<div class="modal fade" id="modal-str-refresh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title ff-l" id="myModalLabel">Обновление данных по строевой записке</h4>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>

            <div class="modal-body">

                <p>Информация по выбранным подразделениям будет добавлена в таблицу <u>&laquo;Сведения по строевой записке&raquo; (к уже существующим в таблице)</u> на форме создания специального донесения</p>

            </div>
            <div class="modal-footer">

                <button id="btn-refresh-str"  type="button" class="btn btn-warning" >Да</button>
                <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Отмена</button>
            </div>
        </div>
    </div>
</div>