<br>
<div class="form-row create-form-row">
    <div class="form-group col-md-1">

        <button type="button" class="btn btn-success btn-sm template-simple-add" data-toggle="modal" data-target="#modal-template-add" data-placement="top" title="Добавить шаблон">
            <i class="fa fa-list-ol" aria-hidden="true"></i></button>

    </div>
</div>