
<ul class="list-group list-group-horizontal btn-panel-simple-sd" >
    <li class="list-group-item">
         <button type="button" class="btn btn-success btn-sm template-simple-add" data-toggle="modal" data-target="#modal-template-add" data-placement="top" title="Добавить шаблон">
            <i class="fa fa-list-ol" aria-hidden="true"></i></button>
    </li>
    <li class="list-group-item">
         <button type="button" class="btn btn-danger btn-sm template-ct1" data-toggle="modal" data-target="#modal-ct1-add" data-placement="top" title="Добавить шаблон 1">
            <i class="fa fa-file-o" aria-hidden="true"></i></button>
    </li>

</ul>

