    <center  class="range_sd_li"><h5 class='catalog-head'><span>Специальные донесения ({{active_user.auth_organ_full}})</span>
            &#10625

         {% include 'common/catalog/range_sd_filter.twig' %}
        </h5></center>