
<div class="modal fade" id="modal-ct1-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title ff-l" id="myModalLabel">Добавить шаблон</h4>

                <button class="close danger" type="button" data-dismiss="modal" style="font-weight: bolder;">×</button>

            </div>

            <div class="modal-body">

                <p>Будет добавлен следующий шаблон: <br>
                    <img src="{{base_url("/assets/images/dones/simple/ct_1.png")}}" class="img-ct">
                </p>
                <p>Выполнить действие? </p>

            </div>
            <div class="modal-footer">

                <button id="btn-add-ct1"  type="button" class="btn btn-warning" >Да</button>
                <button  type="button" class="btn btn-secondary" data-dismiss="modal" >Отмена</button>
            </div>
        </div>
    </div>
</div>