            <div id="panel_map" class="fixed t-left close_panel left-panel">
                <a id="map_see_button"  aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Карта"> <i class="fa fa-map-marker" style="color:black"></i> </a>

                <div id="map-div">
                    <div id="map" >

                    </div>

                </div>
            </div>



