<label for="object_floor_flat" >Этаж квартиры:</label>
<input type="number" min="0" class="form-control"  placeholder="" name="object_floor_flat"  value="{%if rig.people.floor is defined and rig.people.floor is not empty%}{{(((rig.people.floor|split('/')))[1])|trim}}{%elseif is_edit_dones is defined and is_edit_dones == 1 and dones is defined and dones.object is defined and dones.object.object_floor_flat is not empty %}{{dones.object.object_floor_flat}}{%else%}0{%endif%}">

